{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css"/>
{% endblock %}

{% block scripts %}
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
<script src="https://api.mapbox.com/mapbox.js/plugins/arc.js/v0.1.0/arc.js"></script>
<script src="{{url_for('static', filename='map.js')}}"></script>
{% endblock %}

{% block content %}
<section class="row">
  <div class="col-12 bg-dark">
    <div id="map" class="map"></div>
  </div>
</section>

{% if data.capitals %}
<section class="row mt-3 mb-3">
  <div class="col-6">
    <ul class="list-group">
    {% for capital in data.capitals %}
      <li class="list-group-item">{{capital}}</li>
    {% endfor %}
      </ul>
  </div>
</section>
{% endif %}

{% endblock %}